a {
    text-decoration: none;
    color: white;
}
.banner {
    margin: 0 auto;
    display: block;
}
body {
    background-color: #1d1d1d;   
    position: relative;
}
h1, h2 {
 text-align: center;   
}
#gods {
    list-style: none; 
    max-width: 960px;
    margin: 0 auto;
    display: block;
}
header {
    background-color: #1d1d1d;   
}

footer {
    color: white;
}

footer ul {
    margin: 0 auto;
    display: block;
    width: 40%;
    text-align: center;
}

footer ul li {
    display: inline-block;
    margin: 0 7em;
    
}

footer ul li img {
    display: block;
    margin: 0 auto;
}

#randombutton {
 display: block;
    margin: 0 auto;
}

    .roll-button {
        
        background-color: transparent;
        border: none;
    }
    .first_popup_open {
        display: none;
    }

.name {
 margin: 0 auto;
    display: block;
}

#god-result h1 {
    color: white;
}
